:root{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  box-sizing: border-box;
  --background-color:#678FF2;
  --first-color:#000000;
  --second-color:#FFFFFF;
  --group-color:rgba(255, 255, 255, 0.1);
  --shade-color:rgba(0, 0, 0, 0.1);
  --bacground2-color:rgba(255, 255, 255, 0.15);
  --gradient-color1:#5081ed;
}

.cr{
  font-size: 2.3rem;
  line-height: 130%;
  padding-right: 4rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-right: 0.2rem solid var(--second-color);
  margin-left: 10.8rem;
}
header{
  background-color: var(--group-color);
  padding-left: 3rem;
  padding-right: 3rem;
  border-bottom: 0.2rem solid var(--second-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hed{
  font-size: 2rem;
  font-weight: 200;
  list-style: none;
  text-align: right;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
}
.list{
  flex-grow: 1;

}
.left{
  display: flex;
}
.right{
  display: flex;
}
.r{
  margin-right: 10.8rem;
}
.l{
  margin-left: 10.8rem;
}
.cv19{
  margin-right: 6rem;
}
.flex{
  font-weight: 600;
}

body{
  background-color: var(--background-color);
  overflow-x: hidden;
}
.img{
  display: block;
  border-radius: 0 0 20px 20px;
}
.section1{
  padding-top: 14rem;
  padding-bottom: 5rem;
  background-image: url(/img/cloud7.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position:0 7rem;

}

.section2{
  padding-top: 11rem;
  border-bottom: 0.2rem solid var(--second-color);
  display: flex;
  flex-direction: column;
}
.section3{
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 11rem;
}
.section4{
  padding-top: 17rem;
}
.section5{
  padding-top: 15rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}
.clouds{
  background-image: url(/img/cloud3.png),url(/img/cloud5.png);
  background-repeat: no-repeat;
  background-size:initial;
  background-position: 0 0,right bottom 3rem;
}
.section6{
  padding-bottom: 9rem;
  border-bottom: 0.2rem solid var(--second-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.our_ex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: none;
  max-width: 117rem;
  gap:2rem;
  margin-left: auto;
  margin-right: auto;
}
.cc{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 68rem;
}
h1{
  font-size: 0;
}
h2{
  font-weight:700;
  font-size:12.5vw;
  line-height: 89%;
  padding-left: 0.7em;
  margin-bottom: 3em;
  min-width: 366px;
  display: flex;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
p.cookie{
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  text-align: left;
  display: block;
  padding-left: 9rem;
}
.pr{
  background-color: var(--group-color);
  border-radius: 2rem;
  margin-top: 6.7rem;
  margin-left: 3rem;
  margin-right: 3rem;
  min-width: 34rem;
  max-width: 68rem;
  padding-top: 1.6rem;
  padding-bottom: 2rem;
  padding-right: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  font-weight:500;
  font-size:3.5rem;
  line-height: 140%;
  color: var(--second-color);
  text-align: center;
}
h4{
  font-weight:500;
  font-size:1.4rem;
  line-height: 214%;
}
p.pli{
  font-weight:200;
  font-size:1.1rem;
  line-height: 164%;
}

ul.list{
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: space-evenly;
  max-width: 60rem;
  gap: 2em;
}
p.three{
  font-weight:200;
  font-size:1.8rem;
  line-height: 111%;
  color: var(--second-color);
  text-align: left;
  margin-left: 3rem;
  margin-right:3rem;
  max-width: 56rem;
}
p.three2{
  font-weight:200;
  font-size:1.8rem;
  line-height: 111%;
  color: var(--second-color);
  text-align: right;
  margin-left: 3rem;
  margin-right: 3rem;
}
.laptop{
  float: right;
  margin-right: -50%;
  margin-top: -2rem;
}
.th1{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: linear-gradient(0deg, var(--gradient-color1) 0%, var(--background-color) 100%);
}
.th2{
  display: flex;
  flex-direction: column;
  background: var(--gradient-color1);
}
.th3{
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, var(--gradient-color1) 0%, var(--background-color) 100%);
}
p.exp{
  font-size: 2.5rem;
  line-height: 100%;
  color: var(--second-color);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}
.test{
  margin-bottom: 6rem;
}
li.otzv{
  font-weight: 200;
  font-size: 1.4rem;
  text-align: left;
  line-height: 129%;
  color: var(--second-color);
  list-style: none;
  max-width: 30rem;
  margin-left: 3rem;
  margin-right: 4rem;

}
.ramka{
  background: url(/img/Rectangle.svg) 100% 100%;
  background-repeat: no-repeat;
  background-size:contain;
  min-width: 375px;
  max-width: 570px;
  min-height: 240px;
  max-height: auto;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.hul{
  margin: 0;
}
h2.forms{
  color:var(--first-color);
  line-height: 114%;
  margin-bottom: 2rem;
  text-align: center;
}

input{
  display:flex ;
  justify-content: space-around;
  min-width: 32rem;
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9rem;
  padding-left: 2rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
li.listexp{
  text-align: center;
  background-color:var(--group-color);
  backdrop-filter: blur(20rem);
  width: 31.9rem;
  padding-top: 1.5rem;
  margin-bottom: 5.4rem;
  list-style: none;
  border-radius: 2rem;
}
.hq{
  text-align: left;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
h3.alw{
  text-align: right;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 12rem;
  margin-bottom: 1rem;
}
.blockAlw{
  display: block;
}
.In{
  margin-top: 8.6rem;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.our{
  margin-bottom: 7rem;
}
a{
  text-decoration: none;
  color: var(--second-color);
}
a.start{
  background-color: var(--first-color);
  color: var(--second-color);
  font-weight:400;
  font-size: 2rem;
  line-height: 150%;
  text-decoration: none;
  border-radius: 9rem;
  padding-left: 26px;
  padding-top: 9px;
  padding-right: 17px;
  padding-bottom: 12px;
  margin-left: 1.5em;
  margin-right: 4em;
  min-width: 29rem;
  display: block;
  max-width: 39rem;
  text-align: center;
}

button.b1{
  background-color: rgba(255, 255, 255, 0);
  color: var(--first-color);
  font-weight: 600;
  font-size: 3rem;
  line-height: 47%;
  border: none;
  text-align: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.b3{
  color: var(--second-color);
}
.scroll{
  rotate: 90deg;
  transform-origin: bottom left;
  position: absolute;
  display: flex;
  gap: 1em;
  background-color: var(--group-color);
  color: var(--second-color);
  border: none;
  padding: 0;
}
hr{
  flex-grow: 1;
  align-self: center;
  width: 7rem;
  background-color: white;
  border: 1px solid white;
}
.otzButton{
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-around;
  border: 0;
  background-color: var(--background-color);
}
.baton2{
  display: flex;
  border: 0;
  border-radius: 50%;
  height: 12px;
  background-color: #B4B4B4;
}
.baton{
  display: flex;
  border: 0;
  border-radius: 50%;
  height: 12px;

}
.buttonotzv{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.buttonotzv2{
  display: flex;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.bird{
  position: absolute;
  left: 0;
  top:-7rem;
}
.hw{
  display: none;
  margin-bottom: 8rem;
}
li.hw1{
  background-color: var(--group-color);
  box-shadow: 0rem 0.4rem 2rem var(--shade-color);
  color: var(--second-color);
  backdrop-filter: blur(20rem);
  width: 14.049rem;
  height: auto;
  border-radius: 2rem;
  padding: 1em;
}
li.h2{
  background-color: var(--group-color);
  width: 14.049rem;
  height: auto;
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  padding: 1em;
}
button.b2{
  background-color: var(--first-color);
  color: var(--second-color);
  font-weight:400;
  font-size: 2rem;
  line-height: 150%;
  text-decoration: none;
  border-radius: 9rem;
  padding: 0.5rem;
  border: none;
  min-width: 32rem;
  max-width: 62rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 12rem;
}
form{
  text-align: center;
}

footer{
  padding-left: 3rem;
  background-color: var(--bacground2-color);
  font-size: 2.2rem;
  line-height: 136%;
  color: var(--second-color);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.term{
  margin-right: 5rem;
}
.last{
  font-size: 1.4rem;
  line-height: 214%;
  font-weight: 200;
}
.pic{
  display: flex;
  justify-content: end;
}
.help{
  margin-left: 4rem;
}
.flower{
  display: block;
  float: right;
  margin-left: auto;
  height: 50rem;
}
.shadow{
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.3));
}
.p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.phone{
  margin-top: -8rem;
  rotate: 30deg;
  margin-left: -6.1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow-x: hidden;
}
.strelka{
  position: absolute;
  left: 0;
  bottom: -0.3rem;
}
.img2{
  border-radius: 0 0 0 20px;
}
nav{
  display: none;
}

@media(min-width:400px){
  .phone{
      margin-left: -10rem;
  }
}

@media (min-width:900px){
  .scroll{
      display: none;
  }
  nav{
      display: initial;
  }
  .section1{
      background-image: url(/img/cloud7.png);
      background-position: center 0;
  }
  
  .clouds{
      background-image: url(/img/cloud4.png), url(/img/cloud6.png);
      background-position: -10px 0,right bottom;
  }
}

@media (min-width:1100px){
  .b4{
      font-size: 12rem;
      line-height: 100%;
      margin-bottom: 0;
      padding: 0;
      max-width: none;
  }
  .section1{
      padding-top: 16rem;
      margin-left: auto;
      margin-right: auto;
  }
  .p{
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4rem;
  }
  .start{
      margin-bottom: 40px;
      margin-top: 40px;
      font-size: 3rem;
  }
  .hw{
      display: flex;
  }
  .pr{
      flex-direction: row;
      align-items: center;
  }
  button.b1{
      margin: 0;
      padding: 0;
  }
  .th1{
      flex-direction: row;
      overflow: hidden;
      
  }
  .th2{
      flex-direction: row-reverse;
      align-items: flex-end;
  }
  .th3{
      flex-direction: row;
  }
  .phone{
      rotate: 0deg;
      margin-left: 0;
  }
  .pic{
      margin-bottom: -8rem;
  }
  .form{
      margin-bottom: 10rem;
  }
  .blockAlw{
      margin-bottom: 30rem;
  }
  .In{
      margin-top: 30rem;
  }
  .hq{
      margin-top: 3rem;
  }
  .flower{
      height: auto;
  }
  .section1{
      background-position: center -20rem;
      background-size: 1440px auto;
  }
}